body {
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 60% 50%;
}

.explore {
	background: #00009f;
	color: #FFFFFF;
}

/* unvisited link */
.explore a:link {
    color: #FFFFFF;
		text-decoration: none;
}

/* visited link */
.explore a:visited {
    color: #00FF00;
		text-decoration: none;
}

/* mouse over link */
.explore a:hover {
    color: #FF00FF;
		text-decoration: none;
}

/* selected link */
.explore a:active {
    color: #0000FF;
		text-decoration: none;
}

.content {
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(255, 255, 255);
	/* RGBa with 0.6 opacity */
	background: rgba(255, 255, 255, 0.65);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.masthead {
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(75, 109, 169);
	/* RGBa with 0.6 opacity */
	background: rgba(75, 109, 169, 0.65);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

	height: 150px;
}

.masthead .phones {
	color: #FFFFFF;
}

.masthead .logo {
	height: 120px;
}

.section-1 {
	height: 150px;
}

.section-2 {
	height: 150px;
}

.section-3 {
	height: 150px;
}
